@import '../../node_modules/bootstrap/dist/css/bootstrap.min';
@import '../../node_modules/designmodo-flat-ui/dist/css/flat-ui.min';
@import '//fonts.googleapis.com/css?family=Lato';
@import '../../node_modules/cardsJS/dist/cards.min';

.navbar, .card-keyboard .form-group {
  margin-bottom: 0;
  border-radius: 0;
}

.tab-pane {
  margin-top: 15px;
}

.nav-tabs > li.active > a, #value-input .btn, #suits-input .btn, .card-keyboard .btn-success {
  border-radius: 0;
}

main {
  padding: 53px 0 100px;
}

#cards-list .card:first-child {
  width: 25%;
}

#cards-list .card {
  width: percentage(1/6);
  padding-right: 4px;
}

.btn-nav.pull-right {
  margin-right: 15px;
  margin-top: 6px;
}

ul.nav.nav-tabs > li {
  width: 33%;
}

@import "components/CardKeyboard";

footer nav .container {
  margin-top: 12px;
}

footer .col-md-12 {
  margin: 0.25em 0;
}